.inputGroup {
    margin: 5px;
    width: 100%;
    float: right;
    position: absolute; 
    z-index: 10;
  }
  
  /* .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    border-color: rgb(150, 150, 200);
  } */
 
  .Sbtn {
    margin-left: 5px;
    border-radius: 20px;
  }

  .Search {
    display: flex;
    flex-direction: row;
    float: right;
  }

  .container-input {
    position: relative;
    float: right;
    margin: 15px;
  }
  
  .container-input input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .container-input input:focus {
    opacity: 1;
    width: 250px;
  }


  .searchResult {
    position: absolute;
    width: 50%;
    right: 20px;
    top: 80px;
    overflow: auto;
    height: auto;
    color: #000;
    z-index: 100;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }